@page "/"
@inherits ClassifyEmailComponent


<PageTitle>Index</PageTitle>

<h1>Classified Email</h1>

This software will act as a filter to test the incoming email
text, detect if the email might be classified, and additionally replace any sensitive text with censored
***** characters.

@code {
   //TODO
}
